@import '../../../../css/buttons';

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    .settingsContainer {
        width: 35%;
        display: flex;
        justify-content: center;

        .iconBtn {
            background-color: transparent;
            border: 0;
    
            &:hover {
                cursor: pointer;
            }
    
            // &:hover + .tooltip {
            //     visibility: visible;
            // }
        }
    }

    .centerContainer {
        display: flex;
        justify-content: flex-end;
        width: 65%;

        .startButton {
            @extend .startButton;
            margin: 0;
        }
    }
}