$main-theme: #303846; 

$danger-lighter: #FA686C; 
$danger: #ef5858;

$warning: #ffba00;

$primary: #1976d2;
$primary-lighter: #4da3f9;

// $success: #1ab394;
$success: #5cd696;
// $success-hover: #028a6f;
$success-lighter: #39E0A2;

$players-colors: #007300, #af272b, #443B9F, #CA945D;
$players-colors-hover: #00a400, #f72d32, #7064ef, #ffbf7d;
