@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen:wght@700&display=swap');

$font-roboto: "Roboto", sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-oxygen: 'Oxygen', sans-serif;