@import './_buttons.scss';
@import './_mediaQueries.scss';
@import './colors.scss';

.hide {
  display: none;
}

.mainContainer {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        visibility: hidden;
        top: 0;
        left: 0;
        opacity: 0;
        background: rgba(40,43,49,.8);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        z-index: 1
     }
  
    .showOverlay {
        opacity: 1;
        visibility: visible;
    }

    .gameContainer {
        width: 100vw;
        height: 100vh;
        background-color: $main-back-color;

        .questionsAndAnswersContainer {
            display: flex;
            margin-top: 2em;
            width: 100%;
            flex-direction: column;
            align-items: center; 
        }
    }

}

@media screen and (min-width: $tablet) {
    .mobile {
        display: none;
    }
}

@media screen and (max-width: $tablet) {
    .notMobile {
        display: none;
    }
}
