@import '../../../css/_colors.scss';

.hide {
    display: none;
}

.status {
    font-weight: 700;
    font-size: 1.3em;
}

.correct {
color: $success-green;;
}

.incorrect, .timeOver {
color: $error-red;
}