@import '../../../css/_colors.scss';


.hide {
    display: none;
}

.winnersContainers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    figure {
        margin: 0;
        padding: 1em;
    }

    .text {
        color: #fff;
        font-size: 1.2em;
        padding-right: 1em; 
    } 
}

.tie {
    background-color: orange;
}

@for $i from 1 through length($players-colors) {

    .container > .onlyWinner-#{$i} {
        background-color: nth($players-colors, $i);
    }
}