@import '../../../css/fonts';
@import '../../../css/colors';
@import '../../../css/mediaQueries';

.bubble {
    position: relative;
    width: 60%;
    background-color: $start-blue-hover;
    border-radius: 40px;
    padding: 1em;
    text-align: center;
  }
  
  .bubbleBottomLeft:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid $start-blue-hover;
    border-right: 12px solid transparent;
    border-top: 12px solid $start-blue-hover;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
  }

  .text {
    font-family: $font-oxygen;
    color: #fff;
    font-size: 1.3em;
    letter-spacing: 2;
  }


@media screen and (max-width: $phones) {
    .text {
        font-size: 1em;
    }
}